.icon-48-opportunities {
      background-image: url(../images/l_opportunities.png);
      padding-left:60px!important;
}

.icon-48-opportunity {
      background-image: url(../images/l_opportunities.png);
      padding-left:60px!important;
}

